/*
 * Globals
 */
/* 'Rock Salt' */
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
/* 'Oswald' */
@import url(https://fonts.googleapis.com/css?family=Oswald:700);

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

hr {
    height: 1px;
    color: #a9a9a9;
    opacity: 0.15;
    margin-top: 0;
    margin-bottom: 0;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #222;
    font-size: 100%;
    font-family: 'Oswald';
    background-image: url("../img/ldn-dark.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.social-icons {
    margin-bottom: .5em;
}

.social-icons a {
    font-size: 2.5em;
    padding: .25em;
}

.head-text {
    padding: 0;
    min-height: 120px;
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.tagline {
    margin: 20px 0 0;
    font-size: 2em;
    font-weight: 600;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.sub-tagline {
    font-size: 1em;
    margin: .5em 0 1em 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.lift-text .tagline {
    margin: 0;
}

.lift-text .sub-tagline {
    opacity: 1;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

/*
 * tRR
 */
#tRR {
    margin-bottom: 2em;
    margin-top: 2.5em;
}

#tRR a {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Rock Salt', cursive;
    text-decoration: none;
    z-index: 10;
    transition: all .3s ease-in-out;
}

#tRR a:hover {
    color: #3399FF;
    text-decoration: none;
}

#RapLyricist a {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
}

#RapLyricist a:hover {
    color: red;
    text-decoration: none;
}

#myBlocks {
    margin-bottom: 2em;
    margin-top: 2em;

}

#myBlocks a {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    z-index: 10;
    transition: all .3s ease-in-out;
}

#myBlocks a:hover {
    color: #ffdb00;
    text-decoration: none;
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

@media (min-width: 200px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 92%;
    }
}
